


.buletpoint{
 list-style-type: circle;
    color: white;
}





img {
width: 200px;
margin: 0px 30px;
    
    

}


body {
background-image: url(download.jpg);    
background-size: cover;
}

p {
color: white;

}

h3, h5 {
color: white;

}


